<div class="header">
    <a class="header-left" href="javascript:void(0)">
        <dl class="fl al">
            <dt>左手 · 理想</dt>
            <dd>理想是火,照亮夜行的路</dd>
        </dl>
    </a>
    <a class="header-right" href="javascript:void(0)">
        <dl class="fr ar">
            <dt>右手 · 天涯</dt>
            <dd>生活是水,流淌在平凡的时光</dd>
        </dl>
    </a>

    <div class="header-center">
        <span>MY LIFE ， A PAIR OF ARMS</span>

        <p>hold up the sky with positive arms</p>
    </div>
    <div class="header-bottom">
        <a href="javascript:void(0)"></a>
        <a href="javascript:void(0)"></a>
        <a href="javascript:void(0)"></a>
    </div>
</div>