<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%- date(Date.now(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a>.<br/>
            snail<a href="http://github.com/snailDu">阿蒲</a>
        </div>
    </div>
</footer>
