<div class="nav">
    <a class="nav-work" href="javascript:void(0)">
        <span class="nav-work-shadow">Work</span>
        <span class="nav-work-text">Work</span>
    </a>
    <a class="nav-me" href="javascript:void(0)">
        <span class="nav-me-box">
            <span class="nav-me-icon"></span>
            <span class="nav-me-text">About me</span>
        </span>
    </a>
    <a class="nav-life" href="javascript:void(0)">
        <span class="nav-life-shadow">Life</span>
        <span class="nav-life-text">Life</span>
    </a>
</div>